body{
    padding: 0;
    margin: 0;
}

.page{
    width:100%;
    height:100vh !important;
    margin:0 !important;
}

.background1{
    background: #060010;
}
.background2{
    background: #451578;
}

.homePage{
    //background: #060010;
    background-blend-mode: normal;
    padding:18em 0 0 0;
    nav{
        position: absolute;
        width:80%;
        margin-left: 5%;
        margin-right: 5%;
        top:2em;
        padding: 10px 5%;
        border-radius: 74px;
        background-color: #060010;
        transition: all .6s ease-in-out !important;
        .NavbarItem{
            width:100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            img{
                width:240px !important;
                height:140px !important;
            }
            img:hover{
                cursor: pointer;
            }
            .navLink{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 0;
                //flex-grow: 2;
                p{
                    color: #ffffff;
                    font-family: 'Source Code Pro', monospace;
                    font-size: 30px;
                    font-weight: bold;
                    margin:1.4em 1.4em 0 0;
                }
                p:hover{
                    cursor: pointer;
                    color:#451578 !important;
                }
            }
            .buttonGithub{
                .githubButton{
                    top:3em;
                    display: flex;
                    border-radius: 8px;
                    border: 2px solid #9796e8;
                    background: rgba(244,67,54,0);
                    background-blend-mode: normal;
                    width:auto;
                    padding:8px;
                    transition: all .2s ease-in-out;
                    margin:2.2em 0 0 0;
                    .iconGithub{
                        font-size: 40px;
                    }
                    p{
                        color:white;
                        font-size:20px;
                        margin:10px 0 0 8px;
                    }
                }
                .githubButton:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
    }
    .navScroll{
        padding: 1px 5% !important;
        //border: 2px solid white !important;
        position: fixed !important;
        top:.5em !important;
        z-index: 99 !important;
        .NavbarItem{
            img{
                width:160px !important;
                height:100px !important;
                position: relative;
                top:.5em;
            }
            .navLink{
                p{
                    font-size:22px !important;
                    margin:1.8em 1.4em 0 0 !important;
                }
            }
            .buttonGithub{
                .githubButton{
                    margin:1.4em 0 0 0;
                }
            }
        }
    }
    .firstSectionHome{
        display: flex;
        justify-content: space-around;
        width:82%;
        margin: 0 4%;
        padding: 0 5%;
        .textSection{
            margin:4em 0 0 0;
            p{
                color:white;
                margin:.1em 0 0 0;
                font-family: 'Wellfleet', monospace;
            }
            .subTitle{
                font-size:30px;
                //font-family: 'Wellfleet', monospace;
            }
            .topTitle{
                font-size: 40px;
                .name_span{
                    color:#9796E8;
                }
            }
            button{
                width:auto;
                padding:10px 14px;
                margin:2em 0 0 0;
                border-radius:30px;
                border: 2px solid transparent;
                background: #360058;
                background-blend-mode: normal;
                box-shadow: 0px 0px 10px 2px rgba(86, 86, 86, 0.5);
                transition: all .2s ease-in-out;
                p{
                    font-size:24px;
                }
            }
            button:hover{
                transform: scale(1.1);
                cursor: pointer;
            }
        }
        //la classe imageSection non serve perchè l'immagine va' già bene su desktop
    }
}

.aboutMe{
    padding-top: 8em;
    .presentation{
        width:82%;
        margin: 0 4%;
        padding: 0 5%;
        display:flex;
        justify-content: space-between;
        .textSection{
            width:80%;
            margin: 0 10%;
            height: auto;
        }
        .imageSection{
            position:relative;
            width: 90%;
            margin: 0 5%;
            img{
                width:100%;
                margin:0;
                position:absolute;
                border-radius: 10px;
            }
            #imageKeibenHome{
                right:3em;
            }
            #imageKeibenProduct{
                right:1.2em;
                top:6.8em;
            }
            #imageMiviHome{
                right:-2em;
                top:14em;
            }
            #imageMiviProduct{
                right:4.8em;
                top:20em;
            }
        }
    }
}

.blog{
    padding-top: 8em;
    .titleSection{
        width:82%;
        margin: 0 4%;
        padding: 0 5%;
        display:flex;
        margin:0 !important;
        p{
            color: white;
            margin:0 4em 0 0;
            font-family: 'Inconsolata', monospace;
            font-size: 40px;
            cursor: pointer;
        }
    }
    .cardSection{
        width:92%;
        margin: 0 4%;
        .websiteCards, .projectCards{
            width:100%;
            margin:8em 0 0 0;
            .item{
                width: 90%;
                margin:0 5% 0 5%;
                img{
                    width:100%;
                    border-radius: 8px;
                }
                p{
                    width:95%;
                    margin:1em 2.5% 0 2.5%;
                    color:#d5d5f3;
                    font-size:24px;
                    text-align: center;
                    font-family: 'Wellfleet', monospace;
                }
            }
        }
    }
}


// Start animation code
.animation_code {
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
  width: auto;
}
  .textCode{
    border-right: solid 2px #9796E8;
    animation: animated-cursor 1s steps(29,end) 400ms infinite ;
  }

.animation_1 {
    animation: animated-text 2s steps(29,end) 500ms 1 normal both;
  }
  .animation_2 {
    animation: animated-text 2s steps(29,end) 1s 1 normal both,
  }
  .animation_3 {
    animation: animated-text 2s steps(29,end) 3s 1 normal both,
  }
// end animation code

// Animation keyframes section

  @keyframes animated-text{
    from{width: 0;}
    to{width: 100%;}
  }

  @keyframes animated-pointer{
    0%   {color:white}
    60%  {color:white}
    90% {color:transparent}
  }
  

  // cursor color animation 

  @keyframes animated-cursor{
    0%, 54%{border-right-color: #9796E8;}
    55%, 100%{border-right-color: transparent;}
  }

  // cursor white animation

  @keyframes animated-cursor-white{
    0%, 55%{border-right-color: white;}
    56%, 100%{border-right-color: transparent;}
  }

// end animation code
  
// Cursor class
  .cursor_pointer{
    animation: animated-cursor-white 1s steps(29,end) 100ms infinite;
    animation-timing-function: linear;
    color:white !important;
  }

  .windowsCursor{
    border-right: 2px solid white;
  }

  .linuxCursor{
    border-right: 8px solid white;
  }
// end cursor class

// promptStyle
  .divPromptStyle{
    text-wrap: wrap;
    border-radius:20px;
    position: relative;
    background: #060010;
    padding:20px;
    p{
        color:white;
        font-size:20px;
        font-family: 'Inconsolata', monospace;
        margin:.5em 0;
        font-weight: lighter;
        .colorPrompt{
            color:#9796E8;
        }
        .colorPrompt:hover{
            text-decoration: underline;
            cursor:pointer;
        }
    }
    button{
        position:absolute;
        top:20px;
        right:20px;
        background-color: transparent;
        cursor: pointer;
        border:none;
        font-size:34px;
    }
  }
// end prompt style

.active{
    //text-decoration: underline !important;
    color:#9796E8 !important;
}

img{
    pointer-events: none;
}

.hidden{
    opacity:0 !important;
    display: none !important;
}

.owl-dot span {
    background: white !important; /* dots color*/
  }
 
 .owl-dot.active span, .owl-dot:hover span {
    background: #9796E8 !important; /*active and on hover color*/
  }