body{
    padding: 0;
    margin: 0;
}

.page{
    width:100%;
    height:100vh;
    margin:0 !important;
}

.background1{
    background: #060010;
}
.background2{
    background: #451578;
}

.homePage{
    //background: #060010;
    background-blend-mode: normal;
    padding:18em 0 0 0;
    nav{
        position: absolute;
        width:80%;
        margin-left: 5%;
        margin-right: 5%;
        top:2em;
        padding: 10px 5%;
        border-radius: 74px;
        background-color: #060010;
        transition: all .6s ease-in-out !important;
        .NavbarItem{
            width:100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            img{
                width:240px !important;
                height:140px !important;
            }
            img:hover{
                cursor: pointer;
            }
            .navLink{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 0;
                //flex-grow: 2;
                p{
                    color: #ffffff;
                    font-family: 'Source Code Pro', monospace;
                    font-size: 30px;
                    font-weight: bold;
                    margin:1.4em 1.4em 0 0;
                }
                p:hover{
                    cursor: pointer;
                    color:#451578 !important;
                }
            }
            .buttonGithub{
                .githubButton{
                    top:3em;
                    display: flex;
                    border-radius: 8px;
                    border: 2px solid #9796e8;
                    background: rgba(244,67,54,0);
                    background-blend-mode: normal;
                    width:auto;
                    padding:8px;
                    transition: all .2s ease-in-out;
                    margin:2.2em 0 0 0;
                    .iconGithub{
                        font-size: 40px;
                    }
                    p{
                        color:white;
                        font-size:20px;
                        margin:10px 0 0 8px;
                    }
                }
                .githubButton:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
    }
    .navScroll{
        padding: 1px 5% !important;
        //border: 2px solid white !important;
        position: fixed !important;
        top:.5em !important;
        .NavbarItem{
            img{
                width:160px !important;
                height:100px !important;
                position: relative;
                top:.5em;
            }
            .navLink{
                p{
                    font-size:22px !important;
                    margin:1.8em 1.4em 0 0 !important;
                }
            }
            .buttonGithub{
                .githubButton{
                    margin:1.4em 0 0 0;
                }
            }
        }
    }
    .firstSectionHome{
        display: flex;
        justify-content: space-around;
        width:82%;
        margin: 0 4%;
        padding: 0 5%;
        .textSection{
            margin:4em 0 0 0;
            p{
                color:white;
                margin:.1em 0 0 0;
                font-family: 'Wellfleet', monospace;
            }
            .subTitle{
                font-size:30px;
                //font-family: 'Wellfleet', monospace;
            }
            .topTitle{
                font-size: 40px;
                span{
                    color:#9796E8;
                }
            }
            button{
                width:auto;
                padding:10px 14px;
                margin:2em 0 0 0;
                border-radius:30px;
                border: 2px solid transparent;
                background: #360058;
                background-blend-mode: normal;
                box-shadow: 0px 0px 10px 2px rgba(86, 86, 86, 0.5);
                transition: all .2s ease-in-out;
                p{
                    font-size:24px;
                }
            }
            button:hover{
                transform: scale(1.1);
                cursor: pointer;
            }
        }
        //la classe imageSection non serve perchè l'immagine va' già bene su desktop
    }
}

.active{
    //text-decoration: underline !important;
    color:#9796E8 !important;
}