body {
  padding: 0;
  margin: 0;
}

.page {
  width: 100%;
  height: 100vh !important;
  margin: 0 !important;
}

.background1 {
  background: #060010;
}

.background2 {
  background: #451578;
}

.homePage {
  background-blend-mode: normal;
  padding: 18em 0 0 0;
}
.homePage nav {
  position: absolute;
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  top: 2em;
  padding: 10px 5%;
  border-radius: 74px;
  background-color: #060010;
  transition: all 0.6s ease-in-out !important;
}
.homePage nav .NavbarItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.homePage nav .NavbarItem img {
  width: 240px !important;
  height: 140px !important;
}
.homePage nav .NavbarItem img:hover {
  cursor: pointer;
}
.homePage nav .NavbarItem .navLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}
.homePage nav .NavbarItem .navLink p {
  color: #ffffff;
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
  font-weight: bold;
  margin: 1.4em 1.4em 0 0;
}
.homePage nav .NavbarItem .navLink p:hover {
  cursor: pointer;
  color: #451578 !important;
}
.homePage nav .NavbarItem .buttonGithub .githubButton {
  top: 3em;
  display: flex;
  border-radius: 8px;
  border: 2px solid #9796e8;
  background: rgba(244, 67, 54, 0);
  background-blend-mode: normal;
  width: auto;
  padding: 8px;
  transition: all 0.2s ease-in-out;
  margin: 2.2em 0 0 0;
}
.homePage nav .NavbarItem .buttonGithub .githubButton .iconGithub {
  font-size: 40px;
}
.homePage nav .NavbarItem .buttonGithub .githubButton p {
  color: white;
  font-size: 20px;
  margin: 10px 0 0 8px;
}
.homePage nav .NavbarItem .buttonGithub .githubButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.homePage .navScroll {
  padding: 1px 5% !important;
  position: fixed !important;
  top: 0.5em !important;
  z-index: 99 !important;
}
.homePage .navScroll .NavbarItem img {
  width: 160px !important;
  height: 100px !important;
  position: relative;
  top: 0.5em;
}
.homePage .navScroll .NavbarItem .navLink p {
  font-size: 22px !important;
  margin: 1.8em 1.4em 0 0 !important;
}
.homePage .navScroll .NavbarItem .buttonGithub .githubButton {
  margin: 1.4em 0 0 0;
}
.homePage .firstSectionHome {
  display: flex;
  justify-content: space-around;
  width: 82%;
  margin: 0 4%;
  padding: 0 5%;
}
.homePage .firstSectionHome .textSection {
  margin: 4em 0 0 0;
}
.homePage .firstSectionHome .textSection p {
  color: white;
  margin: 0.1em 0 0 0;
  font-family: "Wellfleet", monospace;
}
.homePage .firstSectionHome .textSection .subTitle {
  font-size: 30px;
}
.homePage .firstSectionHome .textSection .topTitle {
  font-size: 40px;
}
.homePage .firstSectionHome .textSection .topTitle .name_span {
  color: #9796E8;
}
.homePage .firstSectionHome .textSection button {
  width: auto;
  padding: 10px 14px;
  margin: 2em 0 0 0;
  border-radius: 30px;
  border: 2px solid transparent;
  background: #360058;
  background-blend-mode: normal;
  box-shadow: 0px 0px 10px 2px rgba(86, 86, 86, 0.5);
  transition: all 0.2s ease-in-out;
}
.homePage .firstSectionHome .textSection button p {
  font-size: 24px;
}
.homePage .firstSectionHome .textSection button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.aboutMe {
  padding-top: 8em;
}
.aboutMe .presentation {
  width: 82%;
  margin: 0 4%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
}
.aboutMe .presentation .textSection {
  background: #060010;
  padding: 20px;
  width: 400px;
  height: auto;
  text-wrap: wrap;
  border-radius: 20px;
}
.aboutMe .presentation .textSection p {
  color: white;
  font-size: 20px;
  font-family: "Inconsolata", monospace;
  margin: 0.5em 0;
  font-weight: 100;
}
.aboutMe .presentation .textSection p span {
  color: #9796E8;
}
.aboutMe .presentation .textSection p span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.aboutMe .presentation .imageSection {
  position: relative;
}
.aboutMe .presentation .imageSection img {
  width: 580px;
  margin: 0;
  position: absolute;
  border-radius: 10px;
}
.aboutMe .presentation .imageSection #imageKeibenHome {
  right: 3em;
}
.aboutMe .presentation .imageSection #imageKeibenProduct {
  right: 1.2em;
  top: 6.8em;
}
.aboutMe .presentation .imageSection #imageMiviHome {
  right: -2em;
  top: 14em;
}
.aboutMe .presentation .imageSection #imageMiviProduct {
  right: 4.8em;
  top: 20em;
}

.blog {
  padding-top: 8em;
}
.blog .titleSection {
  width: 82%;
  margin: 0 4%;
  padding: 0 5%;
  display: flex;
  margin: 0 !important;
}
.blog .titleSection p {
  color: white;
  margin: 0 4em 0 0;
  font-family: "Inconsolata", monospace;
  font-size: 40px;
  cursor: pointer;
}
.blog .cardSection {
  width: 92%;
  margin: 0 4%;
}
.blog .cardSection .websiteCards, .blog .cardSection .projectCards {
  width: 100%;
  margin: 8em 0 0 0;
}
.blog .cardSection .websiteCards .item, .blog .cardSection .projectCards .item {
  width: 90%;
  margin: 0 5% 0 5%;
}
.blog .cardSection .websiteCards .item img, .blog .cardSection .projectCards .item img {
  width: 100%;
  border-radius: 8px;
}
.blog .cardSection .websiteCards .item p, .blog .cardSection .projectCards .item p {
  width: 95%;
  margin: 1em 2.5% 0 2.5%;
  color: #d5d5f3;
  font-size: 24px;
  text-align: center;
  font-family: "Wellfleet", monospace;
}

.animation_code {
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.7);
  width: auto;
}
.animation_code .textCode {
  border-right: solid 2px #9796E8;
  animation: animated-cursor 500ms steps(29, end) 400ms infinite;
}

.animation_1 {
  animation: animated-text 2s steps(29, end) 500ms 1 normal both;
}

.animation_2 {
  animation: animated-text 2s steps(29, end) 1s 1 normal both;
}

.animation_3 {
  animation: animated-text 2s steps(29, end) 3s 1 normal both;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.cursor_pointer {
  animation: animated-pointer 680ms steps(29, end) 100ms infinite;
}

@keyframes animated-pointer {
  0% {
    color: white;
  }
  60% {
    color: white;
  }
  90% {
    color: transparent;
  }
}
@keyframes animated-cursor {
  from {
    border-right-color: #9796E8;
  }
  to {
    border-right-color: transparent;
  }
}
.active {
  color: #9796E8 !important;
}

img {
  pointer-events: none;
}

.hidden {
  opacity: 0 !important;
  display: none !important;
}/*# sourceMappingURL=style.css.map */