body {
  padding: 0;
  margin: 0;
}

.page {
  width: 100%;
  height: 100vh !important;
  margin: 0 !important;
  padding-top: 8em;
}

.background1 {
  background: #060010;
}

.background2 {
  background: #451578;
}

.homePage {
  background-blend-mode: normal;
  padding: 18em 0 0 0 !important;
}
.homePage nav {
  position: absolute;
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  top: 2em;
  padding: 10px 5%;
  border-radius: 74px;
  background-color: #060010;
  transition: all 0.6s ease-in-out !important;
}
.homePage nav .NavbarItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.homePage nav .NavbarItem img {
  width: 240px !important;
  height: 140px !important;
}
.homePage nav .NavbarItem img:hover {
  cursor: pointer;
}
.homePage nav .NavbarItem .navLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}
.homePage nav .NavbarItem .navLink p {
  color: #ffffff;
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
  font-weight: bold;
  margin: 1.4em 1.4em 0 0;
}
.homePage nav .NavbarItem .navLink p:hover {
  cursor: pointer;
  color: #451578 !important;
}
.homePage nav .NavbarItem .buttonGithub .githubButton {
  top: 3em;
  display: flex;
  border-radius: 8px;
  border: 2px solid #9796e8;
  background: rgba(244, 67, 54, 0);
  background-blend-mode: normal;
  width: auto;
  padding: 8px;
  transition: all 0.2s ease-in-out;
  margin: 2.2em 0 0 0;
}
.homePage nav .NavbarItem .buttonGithub .githubButton .iconGithub {
  font-size: 40px;
}
.homePage nav .NavbarItem .buttonGithub .githubButton p {
  color: white;
  font-size: 20px;
  margin: 10px 0 0 8px;
}
.homePage nav .NavbarItem .buttonGithub .githubButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.homePage nav .NavbarItem .menuSection .buttonMenu {
  background: transparent;
  border: none;
  font-size: 50px;
  position: relative;
  top: 0.7em;
  display: none;
}
.homePage .navScroll {
  padding: 1px 5% !important;
  position: fixed !important;
  top: 0.5em !important;
  z-index: 99 !important;
}
.homePage .navScroll .NavbarItem img {
  width: 160px !important;
  height: 100px !important;
  position: relative;
  top: 0.5em;
}
.homePage .navScroll .NavbarItem .navLink p {
  font-size: 22px !important;
  margin: 1.8em 1.4em 0 0 !important;
}
.homePage .navScroll .NavbarItem .buttonGithub .githubButton {
  margin: 1.4em 0 0 0;
}
.homePage .firstSectionHome {
  display: flex;
  justify-content: space-around;
  width: 82%;
  margin: 0 4%;
  padding: 0 5%;
}
.homePage .firstSectionHome .textSection {
  margin: 4em 0 0 0;
}
.homePage .firstSectionHome .textSection p {
  color: white;
  margin: 0.1em 0 0 0;
  font-family: "Wellfleet", monospace;
}
.homePage .firstSectionHome .textSection .subTitle {
  font-size: 30px;
}
.homePage .firstSectionHome .textSection .topTitle {
  font-size: 40px;
}
.homePage .firstSectionHome .textSection .topTitle .name_span {
  color: #9796E8;
}
.homePage .firstSectionHome .textSection button {
  width: auto;
  padding: 10px 14px;
  margin: 2em 0 0 0;
  border-radius: 30px;
  border: 2px solid transparent;
  background: #360058;
  background-blend-mode: normal;
  box-shadow: 0px 0px 10px 2px rgba(86, 86, 86, 0.5);
  transition: all 0.2s ease-in-out;
}
.homePage .firstSectionHome .textSection button p {
  font-size: 24px;
}
.homePage .firstSectionHome .textSection button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.aboutMe .presentation {
  width: 82%;
  margin: 0 4%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
}
.aboutMe .presentation .textSection {
  width: 80%;
  margin: 0 10%;
  height: auto;
}
.aboutMe .presentation .imageSection {
  position: relative;
  width: 90%;
  margin: 0 5%;
}
.aboutMe .presentation .imageSection img {
  width: 100%;
  margin: 0;
  position: absolute;
  border-radius: 10px;
}
.aboutMe .presentation .imageSection #imageKeibenHome {
  right: 3em;
}
.aboutMe .presentation .imageSection #imageKeibenProduct {
  right: 1.2em;
  top: 6.8em;
}
.aboutMe .presentation .imageSection #imageMiviHome {
  right: -2em;
  top: 14em;
}
.aboutMe .presentation .imageSection #imageMiviProduct {
  right: 4.8em;
  top: 20em;
}

.blog .titleSection {
  width: 82%;
  margin: 0 4%;
  padding: 0 5%;
  display: flex;
  margin: 0 !important;
}
.blog .titleSection p {
  color: white;
  margin: 0 4em 0 0;
  font-family: "Inconsolata", monospace;
  font-size: 40px;
  cursor: pointer;
}
.blog .cardSection {
  width: 92%;
  margin: 0 4%;
}
.blog .cardSection .websiteCards, .blog .cardSection .projectCards {
  width: 100%;
  margin: 8em 0 0 0;
}
.blog .cardSection .websiteCards .item, .blog .cardSection .projectCards .item {
  width: 90%;
  margin: 0 5% 0 5%;
}
.blog .cardSection .websiteCards .item img, .blog .cardSection .projectCards .item img {
  width: 100%;
  border-radius: 8px;
}
.blog .cardSection .websiteCards .item p, .blog .cardSection .projectCards .item p {
  width: 95%;
  margin: 1em 2.5% 0 2.5%;
  color: #d5d5f3;
  font-size: 24px;
  text-align: center;
  font-family: "Wellfleet", monospace;
}

.contacts .contactContent {
  width: 80%;
  margin: 0 10%;
  font-size: 20px !important;
}

footer {
  width: 100%;
  padding: 2em 0;
  position: absolute;
  z-index: 99;
}
footer .topSection {
  width: 60%;
  margin: 0 30% 0 10%;
  display: flex;
  justify-content: space-between;
}
footer .topSection .firstSectionFooter img {
  width: 100%;
}
footer .topSection .firstSectionFooter .iconSectionFooter {
  text-align: center;
}
footer .topSection .firstSectionFooter .iconSectionFooter a .iconFooter {
  font-size: 48px;
  margin-left: 0.2em;
}
footer .topSection .linkSectionFooter h4, footer .topSection .linkSectionFooter p {
  color: white;
  font-size: 20px;
  font-family: "Source Code Pro", monospace;
}
footer .topSection .linkSectionFooter p {
  margin-top: 1em;
}
footer .topSection .linkSectionFooter p:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .topSection .linkSectionFooter h4 {
  margin-top: 1.8em;
}
footer .bottomText {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  color: white;
  margin: 4em 0 1em 0;
  padding: 0;
}

.animation_code {
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.7);
  width: auto;
}

.textCode {
  border-right: solid 2px #9796E8;
  animation: animated-cursor 1s steps(29, end) 400ms infinite;
}

.animation_1 {
  animation: animated-text 2s steps(29, end) 500ms 1 normal both;
}

.animation_2 {
  animation: animated-text 2s steps(29, end) 1s 1 normal both;
}

.animation_3 {
  animation: animated-text 2s steps(29, end) 3s 1 normal both;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes animated-pointer {
  0% {
    color: white;
  }
  60% {
    color: white;
  }
  90% {
    color: transparent;
  }
}
@keyframes animated-cursor {
  0%, 54% {
    border-right-color: #9796E8;
  }
  55%, 100% {
    border-right-color: transparent;
  }
}
@keyframes animated-cursor-white {
  0%, 55% {
    border-right-color: white;
  }
  56%, 100% {
    border-right-color: transparent;
  }
}
.cursor_pointer {
  animation: animated-cursor-white 1s steps(29, end) 100ms infinite;
  animation-timing-function: linear;
  color: white !important;
  padding-right: 2px;
}

.windowsCursor {
  border-right: 2px solid white;
}

.linuxCursor {
  border-right: 8px solid white;
}

.divPromptStyle {
  text-wrap: wrap;
  border-radius: 20px;
  position: relative;
  background: #060010;
  padding: 20px;
}
.divPromptStyle p {
  color: white;
  font-size: 20px;
  font-family: "Inconsolata", monospace;
  margin: 0.5em 0;
  font-weight: lighter;
}
.divPromptStyle p .colorPrompt {
  color: #9796E8;
}
.divPromptStyle p .colorPrompt:hover {
  text-decoration: underline;
  cursor: pointer;
}
.divPromptStyle p a {
  text-decoration: none;
  color: #9796E8;
}
.divPromptStyle p a:hover {
  text-decoration: underline;
}
.divPromptStyle button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 34px;
}

.active {
  color: #9796E8 !important;
}

img {
  pointer-events: none;
}

.hidden {
  opacity: 0 !important;
  display: none !important;
}

.owl-dot span {
  background: white !important; /* dots color*/
}

.owl-dot.active span, .owl-dot:hover span {
  background: #9796E8 !important; /*active and on hover color*/
}

.owl-nav {
  display: none !important;
}

@media screen and (max-width: 1400px) {
  .page {
    height: 88vh !important;
  }
  .homePage nav .NavbarItem img {
    width: 220px !important;
    height: 140px !important;
  }
  .homePage nav .NavbarItem .navLink p {
    font-size: 24px;
    margin: 2em 1.4em 0 0;
  }
  .homePage .firstSectionHome .textSection .topTitle {
    font-size: 28px;
  }
  .homePage .firstSectionHome .textSection .subTitle {
    font-size: 20px;
  }
  .homePage .firstSectionHome .textSection button p {
    font-size: 20px;
  }
  .homePage .firstSectionHome .imageSection img {
    width: 90%;
    margin: 0 5%;
  }
  .aboutMe .presentation {
    width: 90%;
    padding: 0 5%;
    margin: 0 !important;
  }
  .aboutMe .presentation .textSection {
    width: 90%;
    margin: 0 5%;
  }
  .aboutMe .presentation .imageSection #imageKeibenHome {
    right: 2em;
  }
  .aboutMe .presentation .imageSection #imageKeibenProduct {
    right: 0.8em;
    top: 4.8em;
  }
  .aboutMe .presentation .imageSection #imageMiviHome {
    top: 10em;
  }
  .aboutMe .presentation .imageSection #imageMiviProduct {
    right: 2em;
    top: 15em;
  }
  .blog .cardSection .websiteCards, .blog .cardSection .projectCards {
    margin: 4em 0 0 0;
  }
  .blog .cardSection .websiteCards .item img, .blog .cardSection .projectCards .item img {
    width: 70%;
    margin: 0 15%;
  }
  .blog .cardSection .websiteCards .item p, .blog .cardSection .projectCards .item p {
    width: 68%;
    margin: 1em 16% 0.8em 16%;
    font-size: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .page {
    padding-top: 4em !important;
    height: 100vh !important;
  }
  .homePage nav .NavbarItem {
    display: flex;
    justify-content: space-between;
  }
  .homePage nav .NavbarItem img {
    width: 180px !important;
    height: 100px !important;
    position: relative;
    top: 1em;
  }
  .homePage nav .NavbarItem .navLink {
    display: none;
  }
  .homePage nav .NavbarItem .buttonGithub .githubButton .iconGithub {
    font-size: 30px;
  }
  .homePage nav .NavbarItem .buttonGithub .githubButton p {
    font-size: 18px;
    margin: 8px 0 4px 8px;
  }
  .homePage .firstSectionHome {
    margin: 9em 0 0 0;
  }
  .homePage .firstSectionHome .textSection .topTitle {
    font-size: 40px;
  }
  .homePage .firstSectionHome .textSection .subTitle {
    font-size: 34px;
  }
  .homePage .firstSectionHome .textSection button {
    margin: 4em 0 0 0;
  }
  .homePage .firstSectionHome .textSection button p {
    font-size: 30px;
  }
  .homePage .firstSectionHome .imageSection {
    display: none;
  }
  .aboutMe .presentation {
    flex-wrap: wrap;
    width: 90%;
    padding: 0 5%;
  }
  .aboutMe .presentation .textSection {
    width: 100%;
    margin: 0;
  }
  .aboutMe .presentation .textSection p {
    font-size: 18px !important;
  }
  .aboutMe .presentation .imageSection {
    width: 60%;
    margin: 0 20%;
  }
  .aboutMe .presentation .imageSection #imageKeibenHome {
    top: 4em;
    right: 4em;
  }
  .aboutMe .presentation .imageSection #imageKeibenProduct {
    top: 7em;
  }
  .aboutMe .presentation .imageSection #imageMiviProduct {
    top: 14em;
    right: -3.8em;
  }
  .blog .cardSection .websiteCards .item img, .blog .cardSection .projectCards .item img {
    width: 90%;
    margin: 0 5%;
  }
  .blog .cardSection .websiteCards .item p, .blog .cardSection .projectCards .item p {
    width: 88%;
    margin: 1em 6% 0.8em 6%;
    font-size: 24px;
  }
  .contacts {
    height: 80vh !important;
  }
  .contacts .contactContent {
    width: 80%;
    margin: 0 8%;
  }
  footer .topSection {
    width: 80%;
    margin: 0 15% 0 5%;
  }
}
@media screen and (max-width: 800px) {
  .page {
    padding-top: 6em !important;
  }
  .homePage nav {
    top: 1em;
  }
  .homePage nav .NavbarItem img {
    width: 140px !important;
    height: 80px !important;
  }
  .homePage nav .NavbarItem .buttonGithub .githubButton .iconGithub {
    font-size: 24px;
  }
  .homePage nav .NavbarItem .buttonGithub .githubButton p {
    font-size: 14px;
    margin: 0.3em 0 0 0.4em;
  }
  .homePage .navScroll {
    border-radius: 10px !important;
  }
  .homePage .navScroll .NavbarItem img {
    width: 120px !important;
    height: 80px !important;
  }
  .homePage .firstSectionHome .textSection .topTitle {
    font-size: 20px;
  }
  .homePage .firstSectionHome .textSection .subTitle {
    font-size: 18px;
  }
  .homePage .firstSectionHome .textSection button p {
    font-size: 18px;
  }
  .aboutMe .presentation .textSection button {
    font-size: 28px !important;
  }
  .aboutMe .presentation .textSection p {
    font-size: 14px !important;
  }
  .aboutMe .presentation .imageSection img {
    width: 100%;
    margin: 0;
    border-radius: 4px;
  }
  .blog {
    height: 80vh !important;
  }
  .blog .titleSection p {
    font-size: 24px;
  }
  .blog .cardSection .websiteCards .item img, .blog .cardSection .projectCards .item img {
    width: 100%;
    margin: 0;
  }
  .blog .cardSection .websiteCards .item p, .blog .cardSection .projectCards .item p {
    font-size: 18px;
    margin: 1em 6% 0.4em 6%;
  }
  .contacts .contactContent {
    margin: 0 4%;
  }
  .contacts .contactContent button {
    font-size: 28px !important;
  }
  .contacts .contactContent p {
    font-size: 14px !important;
  }
  footer .topSection {
    width: 90%;
    margin: 0 10% 0 0;
  }
  footer .topSection .firstSectionFooter {
    width: 90%;
    margin: 0 10% 0 0;
  }
  footer .topSection .firstSectionFooter img {
    width: 80%;
    margin: 0 10%;
  }
  footer .topSection .firstSectionFooter .iconSectionFooter .iconFooter {
    font-size: 38px !important;
  }
  footer .topSection .linkSectionFooter h4, footer .topSection .linkSectionFooter p {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */